---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AllowShortLambdasOnASingleLine: Empty
BraceWrapping:
  BeforeElse: true
BreakBeforeBraces: Custom
ColumnLimit: 0
Cpp11BracedListStyle: false
IndentCaseLabels: true
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
SpacesBeforeTrailingComments: 1
