---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
AccessModifierOffset: -4
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
ColumnLimit: 0
Cpp11BracedListStyle: false
IndentCaseLabels: true
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
SortIncludes: true
SpacesBeforeTrailingComments: 1
